@font-face{
    font-family: Gilroy;
    font-weight: 800;
    src: url(fonts/gilroy/Gilroyextrabold.ttf)
}

@font-face{
    font-family: Gilroy;
    font-weight: 200;
    src:url(fonts/gilroy/Gilroylight.ttf);
}

@font-face{
    font-family: OpenSans;
    font-weight: 200;
    src:url(fonts/open_sans/OpenSans-Light.ttf)
}

@font-face{
    font-family: OpenSans;
    font-weight: 400;
    src:url(fonts/open_sans/OpenSans-Regular.ttf)
}